@import "../../Core/Styles/Mixins";
@import "../../Styles/FC_Mixins";

.fc-dropdown {

  .fc-dropdown-hidden-input {
    display: none!important;
  }

  .fc-dropdown-header {
    cursor: pointer;

    .fc-dropdown-header-label {
      vertical-align: top;
      width: calc(#{$full-size} - #{$input-icon-size});
      height: $input-inner-size;
    }

    .fc-dropdown-header-icon {
      vertical-align: top;
      width: $input-icon-size;
      height: $input-inner-size;

      .fc-input-icon {
        @include use-transition();
        @include use-transformed(rotate(0deg));
        @include use-transformed-origin();
      }
    }
  }

  .fc-dropdown-list {
    z-index: $z-high;

    .fc-dropdown-list-item {
      cursor: pointer;

      @include use-transition();

      &:hover {
        background: darken($bg-grey-light, 5%);
      }

      &.isSelected {
        &, &:hover {
          cursor: default;
          background: darken($bg-grey-light, 10%);
        }
      }
    }
  }

  &.isOpened {
    .fc-dropdown-header .fc-dropdown-header-icon .fc-input-icon {
      @include use-transformed(rotate(-180deg));
    }
  }

  &.isDisabled {
    .fc-dropdown-header {
      opacity: .6;
      cursor: not-allowed;
    }
  }
}