@import "../../Core/Styles/Mixins";
@import "../../Styles/FC_Mixins";

$tile-size: 40px;

.fc-date-selector {

  .fc-date-selector-header {
    cursor: pointer;

    .fc-date-selector-header-label {
      vertical-align: top;
      width: calc(#{$full-size} - #{$input-icon-size});
      height: $input-inner-size;
    }

    .fc-date-selector-header-icon {
      vertical-align: top;
      width: $input-icon-size;
      height: $input-inner-size;
    }
  }

  .fc-date-selector-body-base {
    width: calc((#{$tile-size} * 7) + 20px);
  }

  .fc-date-selector-body {

    .fc-date-selector-body-nav-panel {
      height: $input-size;
      @include use-no-select();

      .fc-date-selector-body-nav-panel-button {
        height: $tile-size;
      }

      .fc-date-selector-body-nav-panel-button.isActive,
      .fc-date-selector-body-nav-panel-arrow {
        color: $font-color-blue;
        cursor: pointer;
        @include use-transition();

        &:hover {
          @include use-box-shadow();
        }
      }

      .fc-date-selector-body-nav-panel-arrow {
        width: $tile-size;
        height: $tile-size;
      }
    }

    .fc-date-selector-body-tile {
      vertical-align: top;
      height: $tile-size;
      border: 1px solid $grey-lightest;

      &.borderless {
        border: none;
      }

      .fc-date-selector-body-tile-inner {
        position: relative;
        cursor: pointer;

        &:hover {
          @include use-box-shadow();
        }
      }

      .fc-date-selector-body-tile-placeholder {
        cursor: default;
        opacity: .5;
      }
    }

    .fc-date-selector-body-day-selector {
      .fc-date-selector-body-tile {
        width: $tile-size;
      }

      .fc-date-selector-body-weekday-tile {
        width: $tile-size;
        height: $tile-size;
      }
    }

    .fc-date-selector-body-month-selector{
      .fc-date-selector-body-tile {
        width: 33%;
      }
    }

    .fc-date-selector-body-year-selector{
      .fc-date-selector-body-tile {
        width: 25%;
      }
    }
  }

  &.isDisabled {
    .fc-date-selector-header {
      opacity: .6;
      cursor: not-allowed;
    }
  }
}