@import "../Core/Styles/Mixins";
@import "./FC_Mixins";

body {
  font-size: 14px;
}

.row {
  margin: 10px -5px;

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0 5px;
  }
}

@for $i from 0 through 12 {
  .сol-#{$i} {
    padding: 0 5px;
  }
}

.fc-block-height {
  height: 100px;
}

.fc-row-height {
  height: 50px;
}

.fc-base-input {
  height: $input-size;
  border: 1px solid #D5DCE5;
}

.fc-color-white {
  color: $white;
}

.fc-color-blue {
  color: $font-color-blue;
}

.fc-color-red {
  color: $font-color-red;
}

.fc-input-icon {
  color: $input-icon-color;
}

.fc-bg-white {
  background: $white;
}

.fc-bg-blue {
  background: $bg-blue;
}

.fc-bg-grey {
  background: $bg-grey;
}

.fc-background-grey-light {
  background: $bg-grey-light;
}

.fc-background-input {
  background: #F9F9FA;
}

.fc-clickable {
  cursor: pointer;
}

.fc-border-bottom {
  border-bottom: 1px solid $fc-border-color;
}
