$block-size: 100px;
$input-size: 50px;
$input-icon-size: 50px;
$input-inner-size: 48px;
$input-font-size: 16px;
$input-font-color: black;
$input-icon-color: #A7ADB6;
$font-color-blue: #0086FF;
$font-color-red: #E64C3C;
$bg-blue: #4A90E2;
$bg-grey: #A0AEC0;
$bg-grey-light: #F2F4F7;
$fc-border-color: #D5DCE5;

