@import "../../Core/Styles/Mixins";
@import "../../Styles/FC_Mixins";

@mixin use-animated-runner ($speed) {
  animation: animate-running $speed infinite linear;
  -o-animation: animate-running $speed infinite linear;
  -moz-animation: animate-running $speed infinite linear;
  -webkit-animation: animate-running $speed infinite linear;

  @-moz-keyframes animate-running {
    from { right: 0; }
    to { right: $full-size; }
  }
  @-webkit-keyframes animate-running {
    from { right: 0; }
    to { right: $full-size; }
  }
  @keyframes animate-running {
    from { right: 0; }
    to { right: $full-size; }
  }
}


.fc-loader {
  z-index: $z-highest + 1;
  background: rgba(255, 255, 255, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  @include use-box-shadow();
  @include use-transformed(scale(0));
  @include use-transformed-origin();
  @include use-transition($normal);

  .fc-loader-content {
    width: $half-size;

    .fc-loader-spinner {
      background: $bg-blue;
      width: $full-size;
      height: 10px;
      @include use-box-shadow();

      .fc-loader-spinner-caret {
        background: $white;
        height: $full-size;
        width: 5px;

        &:first-child {
          @include use-animated-runner(1s);
        }

        &:nth-child(2n) {
          @include use-animated-runner(1.3s);
        }

        &:last-child {
          @include use-animated-runner(0.7s);
        }
      }
    }
  }

  &.isOpened {
    opacity: 1;
    @include use-transformed(scale(1));
  }
}

