@import "../../Core/Styles/Mixins";
@import "../../Styles/FC_Mixins";

.fc-number-input {

  cursor: text;

  .fc-number-input-core,
  .fc-number-input-label {
    width: calc(#{$full-size} - #{$input-icon-size});
  }

  .fc-number-input-core {
    opacity: 0;

    &, &:focus {
      border: none!important;
      outline: none!important;
    }
  }

  .fc-number-input-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: $full-size;
  }

  .fc-number-input-icon {
    width: $input-icon-size;
    height: $input-size;
  }

  .fc-number-input-info-bubble {
    z-index: $z-high;
    left: $full-size;
    top: $half-size;
    background: $font-color-red;
    color: $white;
    width: 200px;
    min-height: 20px;
    opacity: 0;
    @include use-box-shadow();
    @include use-transformed(translate(-10px, -$half-size) scale(0, 1));
    @include use-transformed-origin(0%, $half-size);
    @include use-transition();

    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: $half-size;
      left: -5px;
      background: $font-color-red;
      @include use-transformed(translate(0, -$half-size) rotate(-45deg));
      @include use-transformed-origin();
    }
  }

  &.isFocused {
    .fc-number-input-core {
      opacity: 1;
    }

    .fc-number-input-label {
      display: none;
    }
  }

  &.isDisabled {
    opacity: .6;
    cursor: not-allowed;
  }

  &.hasError {
    .fc-number-input-info-bubble {

      opacity: 1;
      @include use-transformed(translate(10px, -$half-size) scale(1, 1));
    }
  }

}


