@import "Mixins";

.font-uppercase {
  text-transform: uppercase;
}

.font-lowercase {
  text-transform: lowercase;
}

.size-cover {
  width: $full-size;
  height: $full-size;
}

.full-height {
  height: $full-size;
}

.half-height {
  height: $half-size;
}

.full-width {
  width: $full-size;
}

.half-width {
  width: $half-size;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}
.display-inline-flex {
  display: inline-flex;
}

.display-flex,
.display-inline-flex {
  align-items: center;

  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
  &.direction-column {
    flex-direction: column;
  }
}

//Font Size
@for $i from 0 through 100 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }
}

// Indents
$margin-list: margin margin-top margin-bottom margin-left margin-right;
$padding-list: padding padding-top padding-bottom padding-left padding-right;

@for $i from 0 through 200 {

  @each $margin-property in $margin-list {
    .#{$margin-property}-#{$i} {
      #{$margin-property}: #{$i}px;
    }

    .margin-v-#{$i} {
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
    }

    .margin-h-#{$i} {
      margin-left: #{$i}px;
      margin-right: #{$i}px;
    }

    .margin-#{$i} {
      margin: #{$i}px;
    }
  }

  @each $padding-property in $padding-list {
    .#{$padding-property}-#{$i} {
      #{$padding-property}: #{$i}px;
    }

    .padding-v-#{$i} {
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
    }

    .padding-h-#{$i} {
      padding-left: #{$i}px;
      padding-right: #{$i}px;
    }

    .padding-#{$i} {
      padding: #{$i}px;
    }
  }
}

// Positions
$positions-list: top right bottom left;

@for $i from 0 through 100 {
  @each $position-property in $positions-list {
    .#{$position-property}-#{$i} {
      #{$position-property}: #{$i}px;
    }
  }
}


// Opacity
@for $i from 0 through 10 {
  .opacity-#{$i} {
    opacity: $i * .1;
  }
}

/* Breakpoint XS */
@media (max-width: 575px)
{
  .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{
  .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up,
  .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
  .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
  .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
  {
    display: none !important;
  }
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
  .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
  {
    display: none !important;
  }
}

/* No select */

.noSelect {
  &, & * {
    @include use-no-select();
  }
}




