@import "../../Core/Styles/Mixins";
@import "../../Styles/FC_Mixins";

.fc-dropdown-body {

  .fc-dropdown-body-content {
    opacity: 0;
    background: $white;
    z-index: $z-higher;
    @include use-box-shadow();
    @include use-transition($normal);
    @include use-transformed(scale(1, 0));

    &.fc-dropdown-body-content-straight {
      top: 0;
      bottom: auto;
      @include use-transformed-origin($half-size, 0);
    }

    &.fc-dropdown-body-content-reversed {
      bottom: $input-size;
      top: auto;
      display: none;
      @include use-transformed-origin($half-size, $full-size);
    }
  }

  &.isOpened {
    .fc-dropdown-body-content {
      opacity: 1;
      @include use-transformed(scale(1, 1));
    }
  }

  &.isReversed {
    .fc-dropdown-body-content {
      &.fc-dropdown-body-content-straight {
        display: none;
      }

      &.fc-dropdown-body-content-reversed {
        display: block;
      }
    }
  }
}