@import "../../Core/Styles/Mixins";
@import "../../Styles/FC_Mixins";

$fc-grid-row-height: 40px;

.fc-grid {

  .fc-grid-row {
    background: $bg-grey-light;

    &:nth-child(2n) {
      background: $white;
    }
  }

  .fc-grid-col,
  .fc-grid-cell {
    min-height: $fc-grid-row-height;
  }
}